<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Platform>x64</Platform>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <Configuration>Release</Configuration>
    <TargetFramework>net10.0-windows10.0.26100.0</TargetFramework>
    <WindowsPackageType>MSIX</WindowsPackageType>
    <SelfContained>false</SelfContained>
    <WindowsAppSDKSelfContained>false</WindowsAppSDKSelfContained>
    <PublishReadyToRun>false</PublishReadyToRun>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <AppxPackageDir>bin\Release\net10.0-windows10.0.26100.0\win-x64\msix\</AppxPackageDir>
    <AppxBundle>Never</AppxBundle>
    <AppxBundlePlatforms>x64</AppxBundlePlatforms>
    <UapAppxPackageBuildMode>SideloadOnly</UapAppxPackageBuildMode>
    <AppxPackageSigningEnabled>true</AppxPackageSigningEnabled>
    <PackageCertificateThumbprint Condition="'$(PackageCertificateThumbprint)' == ''">AF82C6A8360740F051ED7AC337A69CF4471ABEA9</PackageCertificateThumbprint>
  </PropertyGroup>
</Project>