# Build results
[Bb]in/
[Oo]bj/

# Visual Studio workspace files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Test results and coverage
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

# NuGet
*.nupkg
*.snupkg
packages/

# Publish output
[Pp]ublish/
